@import "tailwindcss";

@theme {
  --color-primary-50: #eaf7ff;
  --color-primary-100: #bce9ff;
  --color-primary-200: #75d4ff;
  --color-primary-300: #1fbcff;
  --color-primary-400: #009eff;
  --color-primary-500: #0078e6;
  --color-primary-600: #005db8;
  --color-primary-700: #00458c;
  --color-primary-800: #002f5c;
  --color-primary-900: #001a33;

  --color-secondary-50: #f3f5f8;
  --color-secondary-100: #d7dee6;
  --color-secondary-200: #b0bac5;
  --color-secondary-300: #7e8ea0;
  --color-secondary-400: #5b6678;
  --color-secondary-500: #3d4859;
  --color-secondary-600: #2c3543;
  --color-secondary-700: #1f2631;
  --color-secondary-800: #131921;
  --color-secondary-900: #0a0e14;

  --color-success-500: #00cc8e;
  --color-warning-400: #f09300;
  --color-danger-500: #d31394;

  --dot-color: #1f2631;
}

body {
  background-color: #0a0e14;
  color: #f3f5f8;
}
